.header, .simple-header {
    height: 80px;
    width: 100vw;
    min-height: 80px;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 46px 0 25px;
}

.header-logo {
    width: 370px;
}

.site-menu {
    width: 447px;
}

.image {
    width: 100%;
}

.nav-item {
    display: flex;
    gap: 41px;
}

.logout-button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: #ff0000;
}

.page-link {
    margin-top: 17px;
    text-decoration: none;
    font-size: 20px;
    color: #0073cc;
    display: block;
    text-align: center;
}

@media (max-width: 999px) {
    .header {
        position: fixed;
        padding: 0 25px;
        color: #696969;
    }

    .site-menu {
        width: 60px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        display: block;
        width: 75%;
        height: 40px;
        z-index: 3;
        cursor: pointer;
    }

    .menu-icon span {
        background-color: #ffffff;
        display: block;
        height: 4px;
        margin: 6px 0;
        border-radius: 2px;
        transition: 0.4s;
    }

    #toggle-menu-button:checked + .menu-icon span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #toggle-menu-button:checked + .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #toggle-menu-button:checked + .menu-icon span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .header-nav {
        position: fixed;
        width: 200px;
        top: 80px;
        right: -200px;
        background-color: #c8c8c8;
        transition: right 0.4s ease;
        z-index: 2;
    }

    #toggle-menu-button:checked ~ .header-nav {
        right: 0;
    }

    .nav-item {
        display: block;
        padding-left: 20px;
    }

    .nav-item li {
        text-decoration: underline;
    }

    .logout-button {
        background-color: transparent;
        color: #696969;
        padding: 0;
        text-decoration: underline;
    }
}


@media (max-width: 609px) {
    .header-logo {
        width: 50vw;
    }
}
