.notice-message {
    width: 80%;
    margin: 240px auto 62px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.line-break {
    display: inline-block;
}

.verify-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 69px;
    background-color: #d9d9d9;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0 auto;
}

.verify-link {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.resend-button {
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #0073cc;
    width: 80%;
    margin: 52px auto;
    display: block;
}

@media (max-width: 1269px) {
    .verify-button {
        width: 60%;
    }
}

@media (max-width: 499px) {
    .notice-message {
        margin: 100px auto 40px;
    }

    .resend-button {
        margin: 40px auto;
    }
}
